
<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>
	<p>You've found the home page for my first Ruby on Rails Project!</p>

	<p>
		<%= link_to 'Sign up now!', new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>

</div>